.header {
  display: flex;
  height: 4rem;
  padding: 0.8em;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 0.4em;
}
.header_title {
  margin-left: 0.2em;
}

.search {
  flex-basis: 100%;
  font-size: 1.4rem;
  border: 1px solid #ddd;
}

.searchBtn {
  cursor: pointer;
  background-color: #ccc;
  outline: 0;
  border: 0;
}
.btnImg {
  height: 100%;
  padding: 0.4em;
  transition: transform 250ms ease;
}
.searchBtn:hover .btnImg {
  transform: scale(1.1);
}
